<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Frozen 2 <span>(2019)</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="capa" src="assets/filmes/capaFrozen2.jpg" />
      </ion-col>
      <ion-col>
        <ion-row>
          <h5 id="destaque">Bilheteria</h5>
          <p class="destaque">$1.330.764.959,00</p>
        </ion-row>
        <ion-row>
          <h5 id="destaque">Orçamento</h5>
          <p class="destaque">$150.000.000,00</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-fab-button class="botao">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>


      <ion-fab-button class="botao">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>


      <ion-fab-button class="botao">
        <ion-icon name="bookmark"></ion-icon>
      </ion-fab-button>


      <ion-fab-button class="botao">
        <ion-icon name="star"></ion-icon>
      </ion-fab-button>

    </ion-row>
  </ion-grid>

  <p></p>

  <ion-button href="https://www.youtube.com/watch?v=TTIbWKEUPnc" target="_blank" class="assistir" color="danger"
    size="small">ASSISTIR TRAILER</ion-button>

  <p></p>

  <div class="info">
    <span class="tipo">PG • 1h 43m</span>
    <p id="texto">Animação, Família, Aventura</p>
  </div>

  <h1 id="titulo">Sinopse</h1>
  <div id="texto" class="info ion-text-justify">
    <p>Porque será que Elsa nasceu com poderes mágicos? A resposta está a atormentá-la e a ameaçar o seu reino.
      Juntamente com Anna, Kristoff, Olaf e Sven, ela parte numa perigosa e memorável aventura. Em "Frozen", Elsa temia
      que os seus poderes fossem demais para o mundo, em "Frozen 2" espera que sejam suficientes..</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 id="titulo">Diretor</h5>
        <div id="texto" class="info ion-text">
          <p>• Jennifer Lee</p>
        </div>
      </ion-col>
      <ion-col>
        <h5 id="titulo">Idioma Original</h5>
        <div id="texto" class="info ion-text">
          <p>• Inglês</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>