ion-title {
    font-family: "Lobster";

    span {
        font-size: 15px;
    }
}

.capa {

    &:hover {
        transform: scale(1.1);
    }
}

ion-grid {
    .botao {
        margin-left: 7px;
        margin-top: 5px;
        width: 46px;
        height: 46px;
    }
}

.tipo {
    font-family: "Lobster";
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: lighter;
}

ion-icon {
    font-size: 16px;
}

.emisora {
    padding-left: 10px;

    &:hover {
        transform: scale(1.5);
    }
}

.assistir {
    padding-left: 10px;
}

#titulo {
    font-family: "Lobster";
    padding-left: 15px;
}

#texto {
    font-family: "Lobster";
    padding: 15px;
    padding-top: 0;
}
