<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Os Ursinhos Carinhos <span>(1986)</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="capa" src="assets/desenhos/capaUrsinhosCarinhosos.jpg" />
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="list"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="bookmark"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="star"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="info ion-text-center">
    <span class="tipo">TV-PG • 30m</span>
    <p id="texto">Animação, Sci-Fi & Fantasy</p>
  </div>

  <ion-button class="assistir" fill="outline" color="light" size="small">EPISÓDIOS</ion-button>

  <h1 id="titulo">Sinopse</h1>
  <div id="texto" class="info ion-text-justify">
    <p>Os Ursinhos Carinhosos vivem em um lugar distante nas nuvens chamado Care-a-Lot. Eles viajam ao redor do mundo em
      busca de Missões do Bem, enquanto vilões do mal, como o Professor Coração Gelado e Senhor Sem Coração, tentam
      frustrar seus planos.</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 id="titulo">Criadores</h5>
        <div id="texto" class="info ion-text">
          <p>• Linda Denham</p>
          <p>• Elena Kucharik</p>
          <p>• David DePatie</p>
        </div>
      </ion-col>
      <ion-col>
        <h5 id="titulo">Emisora</h5>
        <img class="emisora" src="https://image.tmdb.org/t/p/h30/ndAvF4JLsliGreX87jAc9GdjmJY.png">
      </ion-col>
      <ion-col>
        <h5 id="titulo">Idioma Original</h5>
        <div id="texto" class="info ion-text">
          <p>• Inglês</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>