<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-card routerLink="/flash">
    <ion-card-header color="dark">
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/jC1KqsFx8ZyqJyQa2Ohi7xgL7XC.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Flash <span>(2014)</span></h1>

    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-PG</span> <span class="duracao">44m</span>
        <p>Drama, Sci-Fi & Fantasy</p>
      </div>

    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Barry enfrenta diversos assassinos que invadem a premiação onde ele acompanha Iris, mas os efeitos colaterais de seus novos superpoderes representam uma ameaça.</p>
      </div>
    </ion-item>
  </ion-card>

  <ion-card routerLink="/got">
    <ion-card-header color="dark">
      <img src="https://image.tmdb.org/t/p/original/5mqTvxH9xanhQcJd0SLMSAVYaZ2.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h1>Game of Thrones <span>(2011)</span></h1>

    </ion-item>
    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA</span> <span class="duracao">1h</span>
        <p>Sci-Fi & Fantasy, Drama</p>
      </div>

    </ion-item>
    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Em uma terra onde os verões podem durar vários anos e o inverno toda uma vida, sete nobres famílias lutam pelo controle da mítica terra de Westeros, dividida depois de uma guerra. Num cenário que lembra a Europa medieval, reis, rainhas, cavaleiros e renegados usam todos os meios possíveis em um jogo político pela disputa do Trono de Ferro, o símbolo do poder absoluto.</p>
      </div>
    </ion-item>
  </ion-card>
  
</ion-content>