<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="banner">
    <div class="info-banner">
      <h2>Gotham</h2>
      <p>2014 &nbsp;&nbsp; 16 &nbsp;&nbsp; 5 temporadas</p>
      <ion-button color="danger" size="small">ASSISTIR</ion-button>
      <ion-button fill="outline" color="light" size="small">EPISÓDIOS</ion-button>
    </div>
  </div>

  <ion-grid>
    <h1>Populares</h1>
    <ion-row>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/xJUILftRf6TJxloOgrilOTJfeOn.jpg">
      </ion-col>
      <ion-col>
        <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/mINJaa34MtknCYl5AjtNJzWj8cD.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>