<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Desenhos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item lines="full" routerLink="/ursinhos-carinhosos">

      <ion-thumbnail slot="start">
        <img src="assets/desenhos/UrsinhosCarinhosos.jpg">
      </ion-thumbnail>

      <ion-label>
        Ursinhos Carinhosos
      </ion-label>

      <div slot="end" class="c100 p62 small orange">
        <span>62%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

    </ion-item>

    <ion-item lines="full" routerLink="/dragon-ball">

      <ion-thumbnail slot="start">
        <img src="assets/desenhos/DragonBall.jpg">
      </ion-thumbnail>

      <ion-label>
        Dragon Ball
      </ion-label>

      <div slot="end" class="c100 p77 small green">
        <span>77%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>

    </ion-item>

  </ion-list>

</ion-content>