<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Ad Astra <span>(2019)</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="capa" src="assets/filmes/capaAdAstra.jpg" />
      </ion-col>
      <ion-col>
        <ion-row>
          <h5 id="destaque">Bilheteria</h5>
          <p class="destaque">$132.807.427,00</p>
        </ion-row>
        <ion-row>
          <h5 id="destaque">Orçamento</h5>
          <p class="destaque">$87.500.000,00</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-fab-button class="botao">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>


      <ion-fab-button class="botao">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>


      <ion-fab-button class="botao">
        <ion-icon name="bookmark"></ion-icon>
      </ion-fab-button>


        <ion-fab-button class="botao">
          <ion-icon name="star"></ion-icon>
        </ion-fab-button>

    </ion-row>
  </ion-grid>

  <p></p>

  <ion-button href="https://www.youtube.com/watch?v=XKekxy_AQG8" target="_blank" class="assistir" color="danger"
    size="small">ASSISTIR TRAILER</ion-button>

  <p></p>

  <div class="info">
    <span class="tipo">PG-13 • 2h 3m</span>
    <p id="texto">Ficção científica, Drama</p>
  </div>

  <h1 id="titulo">Sinopse</h1>
  <div id="texto" class="info ion-text-justify">
    <p>O astronauta Roy McBride viaja para lá dos limites do sistema solar para tentar encontrar o seu pai
      desaparecido
      e decifrar o mistério que ameaça a sobrevivência do planeta Terra..</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 id="titulo">Diretor</h5>
        <div id="texto" class="info ion-text">
          <p>• James Gray</p>
        </div>
      </ion-col>
      <ion-col>
        <h5 id="titulo">Idioma Original</h5>
        <div id="texto" class="info ion-text">
          <p>• Inglês</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>