<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Dragon Ball <span>(1986)</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">


  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="capa" src="assets/desenhos/capaDragonBall.jpg" />
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="list"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="heart"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="bookmark"></ion-icon>
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button class="botao">
            <ion-icon name="star"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="info ion-text-center">
    <span class="tipo">PG • 25m</span>
    <p id="texto">Comédia, Sci-Fi & Fantasy, Animação, Ação & Aventura</p>
  </div>

  <ion-button class="assistir" fill="outline" color="light" size="small">EPISÓDIOS</ion-button>

  <h1 id="titulo">Sinopse</h1>
  <div id="texto" class="info ion-text-justify">
    <p>Goku foi encontrado por Gohan quando era apenas um bebê e o bondoso
      velhinho o adotou como neto. Gohan deu de presente a Goku a esfera
      de quatro estrelas. Quando conhece Bulma, Goku fica sabendo da lenda das esferas do dragão. Segundo a lenda, quem
      reunir as sete esferas invocará Shen Long, o dragão guardião,
      cujo poder é de realizar qualquer desejo.</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h5 id="titulo">Criadores</h5>
        <div id="texto" class="info ion-text">
          <p>• Akira Toriyama</p>
        </div>
      </ion-col>
      <ion-col>
        <h5 id="titulo">Emisora</h5>
        <img id="zoom:hover" class="emisora" zoom="2.0"
          src="https://image.tmdb.org/t/p/h30/yS5UJjsSdZXML0YikWTYYHLPKhQ.png">
      </ion-col>
      <ion-col>
        <h5 id="titulo">Idioma Original</h5>
        <div id="texto" class="info ion-text">
          <p>• Japonês</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>